html, body {
  width: auto;
  margin: 0;
  padding: 0;
  color: #999999;
  font-family: Segoe UI;
  background: url(../img/citybg5.jpg) no-repeat fixed center;
  background-position: absolute;
  background-size: 1920px 100%;
}

.container {
  max-width: 940px;
  height: 100%;
  margin: 0 auto;
  padding: 0;
}

/* HEADER */
.header {
  background: rgba(0,0,0,.8);
  padding: 0;
  width: auto;
  height: 65px;
}

.header .logo {
  width: 65px;
  display: inline-block;
  margin-left: 25px;
}

.header ul {
  width: auto;
  margin: 0;
  padding: 10px 0 0 10px;
}

.header ul li{
  display: inline-block;
  text-align: center;
  margin: 0;
  padding: 0 5px;
}

.header a {
  display: inline-block;
  color: #fbb03f;
  font-size: 15px;
}

.header li a:hover {
  background: none;
  text-decoration: underline;
  color: #f08080;
}


.header li a:visited {
  background: none;
}

.header li a:focus {
  background: none;
}

/* JUMBOTRON */
.jumbotron {
  padding-top: 0;
  background-color: rgba(0,0,0,.75);
  width: auto;
  height: 175px;
  margin-bottom: 0;
}

.jumbotron h1{
  text-align: center;
  color: #f08080;
  font-size: 50px;
}

.jumbotron p {
  text-align: center;
  font-size: 20px;
  color: #fbb03f;
}

/* Section */
.section {
  height: 500px;
  width: auto;
  display: inline;
}

.section h3 {
  color: black;
  text-align: center;
  /* text-shadow: .5px .5px #777; */
  padding-bottom: 10px;
}

.section img {
  display: block;
  margin: 0 auto;
  width: 390px;
  height: 200px;
  border-radius: 10px;
}

.section p {
  background: rgba(250,0,0,.15);
  color: black;
  margin: 25px 30px 0 30px;
  padding: 5px;
  text-align: center;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 5px;
}

/* FOOTER */
.footer {
  background: rgba(0,0,0,.95);
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  padding: 5px;
  color: #999;
}

.footer .pull-right{
  float: right;
  clear: all;
  width: 100px;
}

