html, body {
  /*width: auto;
  margin: 0;
  padding: 0;*/
  font-family: Segoe UI;
  background-color: #eaf8ff;
  background: url(../img/citybg3.jpg) no-repeat fixed center;
  background-position: absolute;
  background-size: 1920px 100%;
  color: #ffaa00;
}

.container {
  display: table;
  height: 100vh;
  width: 100%;
}

/* HEADER */
#header {
  background: #000000;
  padding: 0;
  width: 100%;
  height: 65px;
  display: none;
  position: fixed;
  z-index: 999;
}

#header ul {
  width: 100%;
  margin: 0;
  text-align: center;
  padding-top: 10px;
}

#header ul li{
  display: inline-block;
  margin: 0;
  padding: 0 5px;
}

#header a {
  color: #ffaa00;
  font-size: 15px;
}

#header li a:hover {
  background: none;
  /*text-decoration: underline;*/
  color: #f08080;
}

#header li a:visited {
  background: none;
}

#header li a:focus {
  background: none;
}

/* INTRODUCTION */
#intro {
  /*background-color: navy;*/
  text-align: center;
  vertical-align: middle;
}

#intro h1{
  font-size: 50px;
  text-shadow: black 0.5px 0.5px;
}

#intro p {
  font-size: 25px;
  margin-bottom: 15px;
  color: #f08070;
}

#intro a {
  font-size: 25px;
  color: black;
  text-decoration: none;
}


/* Course Work */
#work {
  color: black;
  font-size: 15px;
  padding-top: 15vh;

}

#work > p {
  text-align:center;
}

#work h2 {
  padding-left: 10px;
  text-align: center;
  text-decoration: underline;
}

#work a{
  font-weight: bold;
  color: #f08080;
}


/* POST GRAD */
#postgrad {
  color: black;
  font-size: 15px;
  text-align: center;
  vertical-align: middle;
}

#postgrad h2 {
  padding-left: 10px;
  padding-bottom: 10px;
  text-align: center;
  text-decoration: underline;
}

#postgrad > p {
  color: #ffaa00;
  font-size: 20px;
  text-shadow: #000000 0.5px 0.5px;
  padding-bottom: 10px;
}

#postgrad img{
  padding-top: 25px;
  width: 350px;
  height: 250px;
}

/* CONTACT INFO*/
#contact {
  text-align: center;
  vertical-align: middle;
}

#contact h2{
  padding-left: 10px;
  padding-bottom: 10px;
  text-align: center;
  text-decoration: underline;
  color: black;
}

#contact p {
  color: #ffaa00;
  font-size: 25px;
  text-shadow: #000000 0.5px 0.5px;
}

#contact h3{
  font-size: 25px;
  color: #f08080;
  padding-bottom: 10px;
}

#contact img {
  margin-top: 10px;
  width: 200px;
  height: 50px;
}


.course {
  padding-left: 5px;
  text-align: left;
}

.course h5{
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}

.title span {
}

.description {
  padding-left: 15px;
  padding-top:0;
  text-align: left;
}

/* Generic Classes*/
.button {
  padding: 10px 30px;
  background-color: rgba(255,175,60,0.7);
  border-radius: 10px;
  text-align: center;
}

.button:hover {
  box-shadow: 2px 2px 3px #777777;

}

.slider {
  height: 65px;
  width: 100%;
  position: fixed;
  font-size: 20px;
  background: none;
  text-align: center;
  vertical-align: middle;
}

.slider #sliderbtn {
  height: 65px;
  text-shadow: -1px 0 1px black, 0 1px 1px black, 1px 0 1px black, 0 -1px 1px black;
  cursor: pointer;
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

.align_m {
  display: table-cell;
  width: 100vh;
}

#tabs {
  text-align: center;
}

.ptab, .nptab {
  cursor: pointer;
  color: #fbb03f;
  text-shadow: black 1px 1px;
}

.ptab:hover, .nptab:hover {
  text-decoration: underline;
}
.np_courses {
  display: none;
}
