html, body {
  margin: 0;
  padding: 0;
  color: #999999;
  font-family: Segoe UI;
  background: url(../../img/citybg5.jpg) no-repeat center center;
  background-size: cover;
}

.container {
  max-width: 940px;
  height: 100%;
  margin: 0 auto;
  padding: 0;
}

/* HEADER */
.header {
  background: rgba(0,0,0,.8);
  padding: 0;
  height: auto;
}

.header .logo {
  width: 100px;
  height: auto;
  display: inline-block;
  align-content: center;
}

.header ul {
  width: 800px;
  margin: 0;
  padding: 5px 0;
}

.header ul li{
  display: inline-block;
  text-align: center;
  margin: 0 80px;
}

.header a {
  display: inline-block;
  margin: 0;
  padding: 0;
  color: #f08080;
  font-size: 15px;
}

.header li a:hover {
  background: none;
  text-decoration: underline;
  color: gold;
  font-weight: bold;
}

.header li a:active {
  background-color: black;
}

.header li a:visited {
  background: none;
}

.header li a:focus {
  background: none;
}

/* JUMBOTRON */
.jumbotron {
  padding-top: 0;
  background-color: rgba(0,0,0,.6);
  width: auto;
  height: 175px;
  margin-bottom: 0;
}

.jumbotron h1{
  text-align: center;
  color: #f08080;
  font-size: 50px;
}

.jumbotron p {
  text-align: center;
  font-size: 20px;
  color: gold;
}

/* Section */
.section {
  width: auto;
  display: inline;
}

.section h3 {
  color: black;
  width: auto;
  margin: 10px 40px 5px 40px;
  padding-left: 10px;
}

.section .course {
  color: black;
  background: rgba(255,0,0,.1);
  margin: 0 40px;
  padding: 5px;
  border: 1px solid black;
  width: auto;
  border-radius: 5px;
  font-size: 15px;
}

.section h5{
  font-size: 15px;
  font-weight: bold;
  margin: 5px 0 0 0 ;
  /* border: 1px solid black; Visual */
}

.section p{
  margin: 2px 0 0 0;
  padding: 0 10px;
  /* border: 1px solid black; */
}

.section a {
  margin: 2px 0 0 0;
  padding: 0 10px;
}

/* FOOTER */
.footer {
  background: rgba(0,0,0,.95);
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  margin-top: 100px;
  padding: 5px;
  color: #999;
}

.footer .pull-right{
  float: right;
  clear: all;
  width: 100px;
}



/* .header .row {
  background-image: url(https://hd.unsplash.com/photo-1445630945852-d2fe3e22edf9);
  background-size: cover;
  background-color: #666;
  padding: 10px 0;
}

.header .nav-pills {
  padding: 20px 0;
}
.header .nav-pills a{
  color: salmon;
  font-family: Segoe UI;
  border-radius: 2px;
}

.header .nav-pills li.active a{
  background-color: salmon;
  color: black;
}

.header .nav-pills li a:hover {
  background-color: white;
  color: salmon;
  border: 0.5px solid white;
}

.header img {
  padding: auto;
  margin: auto;
  width: 500px;
  height: 200px;
  display: block;
  height: 104px;
  width: 158px;
} */
